doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='Matthew Piekenbrocks Personal Website - Curriculum Vitae')
		title Matthew Piekenbrock - Curriculum Vitae
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/custom.css")
		include mixins.pug
	body
		.container.d-flex.flex-column
			// Header title element
			.resume.flex-fill
				header.page-header
					h1.page-title.align-content-center.text-center.center-block Curriculum Vitae of Matthew Piekenbrock
					small.align-content-center.text-center.center-block
						i.fa.fa-clock-o
						|  Last annual update:
						time(datetime="2018-12-01") &nbsp; December 01, 2018

			// Photo element
			.flex-row(style="max-width: 80%;").justify-content-center.align-self-center
				.alert.alert-success(role="alert", style="font-weight: bold;").text-center.m-0.rounded-0
					| Traditional paper CV available #[a(href="CV/cv_7.pdf") here]
				.card.m-0.border-1.rounded-0
					.d-flex.flex-row
						.d-flex.flex-column(style="flex: 1 0 10em;")
							.card-header.border-0.p-0(style="max-width:100%;")
								img.img-fluid.img-thumbnail(src='img/profile_pic2.jpeg', alt='')
							.d-flex.btn-group(style="text-align:center;").rounded-0.m-0.justify-content-center.align-items-stretch.align-self-stretch.flex-fill
								//a.btn.btn-social.btn-block.btn-google(href='https://plus.google.com/u/0/105423690091112436740')
								//	i.fa.fa-google
								//a.btn.btn-social.btn-block.btn-facebook(href='https://www.facebook.com/matt.piekenbrock')
								//	i.fa.fa-facebook
								a.btn.btn-social.btn-block.btn-linkedin.rounded-0(href='https://www.linkedin.com/in/matthew-piekenbrock-1469777a/', style="border-top-left-radius: 0;")
									i.fa.fa-linkedin
								a.btn.btn-social.btn-block.btn-github.rounded-0.m-0(href='https://github.com/peekxc', style="border-top-right-radius: 0;")
									i.fa.fa-github
						ul.list-group.card-text.d-flex.flex-column.align-items-stretch(style="flex: 2 0 30em;")
							style(type="text/css")
								span.codedirection { unicode-bidi:bidi-override; direction: rtl; }
							li.list-group-item.flex-fill.text-center.h-100.d-flex.justify-content-center.flex-column
								h4.card-title.m-0 Matt Piekenbrock
							li.list-group-item.flex-fill.text-center.h-100.d-flex.justify-content-center.flex-column  Graduate Research Assistant
							li.list-group-item.flex-fill.text-center.h-100.d-flex.justify-content-center.flex-column M.S. in Computer Science 2018 (PhD intending)
							li.list-group-item.flex-fill.text-center.h-100.d-flex.justify-content-center.flex-column
								| B.S. in Computer Science 2015 (minor in statistics)
			// Summary element
			.card.bs-callout.bs-callout-success
				h4 Summary - Research Interests
				hr
				p.text-justify.
					I'm currently a graduate research assistant majoring in Computer Science, with a focus (and minor) in Statistics and Statistical Modeling.
					My graduate research focus is in Machine Learning (ML) and Artificial Intelligence (AI), and my interests are
					in exploring the intersections between unsupervised learning, statistical learning theory, and empirical analysis.
					I also enjoy building software in the realm of scientific computing and for reproducible research.
					Topic areas that interest me include e.g. clustering, dimensionality reduction, topology theory,
					density estimation, etc.
					I have supplemental research interests, background knowledge, or experience in random graph modeling, bayesian statistics,
					computational geometry, reinforcement Learning (such as adversarial learning!) and high performance computing.
					A few selected research projects are listed below.
			// Bio element
			.card.bs-callout.bs-callout-primary
				h4 Bio
				hr
				h5 Focused Research Areas
				ul
					li Unsupervised and Semi-supervised Learning
					li Density-based clustering
					li Techniques for Topological Data Analysis
					li Manifold Learning
					li Statistical Learning Theory
				h5
				hr
				p.
					I first started doing research part time at the #[a(href="https://www.afit.edu/") Air Force Institute of Technology]
					with a heavily multidisciplinary team called the Low Orbitals Radar and Electromagnetism (LORE) group in 2013 doing either 1) research for
					an independent project under supervision of #[a(href="https://www.afit.edu/BIOS/bio.cfm?facID=224") Dr. Andrew Terzuoli]
					or 2) supporting graduate students' research efforts in the group. I worked actively with the group until 2016, after which I maintained an
					advisory-role until early 2017.
				p.
					In 2015, I started working for the #[a(href="http://knoesis.org/people/derek/wacs/") Web and Complex Systems Lab]
					as part of a research-based independent study shortly after taking an introductory ML/data analysis course taught
					by #[a(href="http://knoesis.org/people/derek/") Derek Doran]. I received a graduate research assistant position in the
					same lab shortly after, working towards an M.S. in Computer Science.
				p.
					Since late 2016, I've been involved in a small group associated with the #[a(href="https://www.wpafb.af.mil/afrl/") Air Force Research Laboratory]
					that does applied topological data analysis (TDA) with the Mapper framework. I originally worked for the group under a very part-time status, but since Fall 2018
					began doing research there full time.
				p.
					My computational experience is diverse. Since 2015, I started using the #[a(href="https://www.r-project.org/") R Project for Statistical Computing]
					for statistical modeling, and I continue to prefer R for research. In my undergraduate years, I used both #[a(href="https://en.wikipedia.org/wiki/C%2B%2B") C++] (primarily C++11)
					and #[a(href="https://en.wikipedia.org/wiki/ANSI_C") ANSI-C89/C90] extensively for a myriad of projects (see below).
					Part of my undergraduate research delved into project involving computational geometry which required a final implementation written in
					#[a(href="https://developer.nvidia.com/cuda-toolkit") Compute Unified Device Architecture (CUDA)] and
					#[a(href="https://www.khronos.org/opencl/") OpenCL].
					Of course, I'm proficient in both #[a(href="https://www.python.org/") Python] and #[a(href="https://www.java.com/en/") Java].
			// Research Highlights
			.card.bs-callout.bs-callout-yellow
				h4 Research Highlights
				hr
				.d-flex.flex-column
					.card.m-1.border-1.p-1
						.d-flex.flex-row
							.card-header.w-100
								h3 Efficient Multiscale Simplicial Complex Generation for Mapper
								span(style="color: green;") (ongoing research effort)
						.d-flex.flex-row.align-items-center
							.card-title.m-0(style="flex: 1 0 1em;")
								img.img-thumbnail.border-0.m-1(src="img/mapper_ex.jpeg", alt="", style="object-fit:fill;")
							.card-body(style="flex: 2 0 10em")
								p.card-text
									| The primary result of the Mapper framework is the geometric realization of a simplicial complex,
									| depicting topological relationships and
									| structures suitable for visualizing, analyzing, and comparing high dimensional data. As an
									| unsupervised tool that may be used for exploring or modeling heterogeneous types of data,
									| Mapper naturally relies on a number of parameters which explicitly control the quality of the
									| resulting construction; one such critical parameter controls the entire relational component of the
									| output complex. In practice, there is little guidance on what values may provide "better" or more
									| "stable" sets of simplices.
									| In this effort, we provide a new algorithm that enables efficient computation of successive
									| mapper realizations with respect to this crucial parameter. Our results not only enhance the exploratory/confirmatory
									| aspect of Mapper, but also give tractability to recent theoretical extensions to Mapper related
									| as persistence and stability.
						.d-flex.flex-row
							.card-footer.bg-white
								div(style="font-weight: bold; font-size: 1.2em;") Related Publication(s):
								ul
									li
										span M. Piekenbrock and D. Doran. Enabling Multi-Scale Simplical Complex Generation for Mapper. SIAM Journal on Applied Algebra and Geometry, 2018 (intending).
										a(href="resources/indexed_mapper.pdf") &nbsp; [Preliminary draft available]
										p(style="color: red;").
											NOTE: This is paper is still developing, and is made available in spirit of transparent research.
											Some equations may be incorrect and there may be notational errors.
								div(style="font-weight: bold; font-size: 1.2em;") Related Material(s):
								ul(style="font-size: 1.1em;")
									li.m-2 #[a(href="https://github.com/peekxc/IndexedMapper") Source code for experiments in the paper]
									li.m-2 Associated package #[a(href="https://github.com/peekxc/mapper") code] and #[a(href="https://peekxc.github.io/Mapper/") documentation]
					hr
					.card.m-1.border-1.p-1
						.d-flex.flex-row
							.card-header.w-100
								h3 Automating Point of Interest Discovery in Geospatial Contexts
								span(style="color: green;") &nbsp; (ongoing research effort)
						.d-flex.flex-row.align-items-center
							.card-title.m-0(style="flex: 1 0 1em;")
								img.img-thumbnail.border-0.m-1(src="img/OSU.png", alt="", style="object-fit:fill;")
							.card-body(style="flex: 2 0 10em")
								p.card-text
									| With the rapid development and widespread deployment sensor dedicated to location-acquisition,
									| new types of models have emerged to predict macroscopic patterns that manifest in large data sets representing
									| "significant" group behavior. Partially due to the immense scale of geospatial data, current approaches to
									| discover these macroscopic patterns are primarily driven
									| inherently heuristic detection methods. Although useful in practice, the inductive bias
									| adopted by the detection scheme is generally unstated or simply unknown.
									| In this research effort, we describe a semi-supervised framework for automated point of interest discovery
									| inspired by recent theoretical advances in efficient non-parametric density level set estimation techniques. We outline
									| the flexibility and utility of the approach through numerous examples, and give a systematic framework for
									| incorporating semisupervised information while retaining finite-sample guarantees.
						.d-flex.flex-row
							.card-footer.bg-white
								div(style="font-weight: bold; font-size: 1.2em;") Related Publication(s):
								ul
									li Piekenbrock, Matthew, and Derek Doran. "Intrinsic Point of Interest Discovery from Trajectory Data." arXiv preprint arXiv:1712.05247 (2017).
										a(href="https://arxiv.org/abs/1712.05247") &nbsp;[Preprint available]
									li (Upcoming 2019) GeoAware: A geospatial model for seasonal traffic modeling and anomaly detection
									li Robinson, Jace, and Derek Doran. "Seasonality in dynamic stochastic block models." arXiv preprint arXiv:1706.07895 (2017).
									li Maurice, M., Piekenbrock, M., & Doran, D. (2015, December). WAMINet: An Open Source Library for Dynamic Geospace Analysis Using WAMI. In Multimedia (ISM), 2015 IEEE International Symposium on (pp. 445-448). IEEE.
					hr
					.card.m-1.border-1.p-1
						.d-flex.flex-row
							.card-header.w-100
								h3 Bringing High Performance Density-based Clustering to R
						.d-flex.flex-row.align-items-center
							.card-title.m-0(style="flex: 1 0 1em;")
								img.img-thumbnail.border-0.m-1(src="img/hdbscan_pts.gif", alt="", style="object-fit:fill;")
							.card-body(style="flex: 2 0 10em")
								p.card-text
									| Density-based clustering techniques have become extremely popular in the past decade. It's often conjectured that the
									| reason for the success of these methods is due to their ability of identify "natural groups" in data. These groups
									| are often non-convex (in terms of shape), deviating the typical premise of 'minimal variance' that underlies
									| parametric, model-based approaches, and often appear in very large data sets. As the era of "Big Data" continues to rise in popularity, it seems that typical notions
									| having access to scalable, easy-to-use,
									| and #[i scalable] implementations of these density-based methods is paramount. In this research
									| effort, we provide fast, state-of-the-art density-based algorithms in the form of an open-source package in R.
									| We also provide several related density-based clustering tools to help bring make state of the art density-based clustering accessible
									| to people with large, computationally difficult problems.
						.d-flex.flex-row
							.card-footer.bg-white
								div(style="font-weight: bold; font-size: 1.2em;") Related Publication(s):
								ul
									li (To appear) Hahsler, Michael, Matthew Piekenbrock, and Derek Doran. "dbscan: Fast Density Based Clustering in R", Journal of Statistical Software, 2018.
								div(style="font-weight: bold; font-size: 1.2em;") Related Materials(s):
								ul
									li.m-2
										a(href="https://github.com/mhahsler/dbscan") dbscan R Package
										p.pull-right
											a(href="https://travis-ci.org/mhahsler/dbscan.svg?branch=master")
												img(src="https://img.shields.io/badge/development-GitHub-orange.svg" alt="Development version on GitHub" title="Development version on GitHub")
											a(href='https://travis-ci.org/mhahsler/dbscan')
												img(src='https://travis-ci.org/mhahsler/dbscan.svg?branch=master', alt='Travis-CI Build Status')
									li.m-2
										a(href="https://github.com/peekxc/clustertree") clustertree R Package
										p.pull-right
											a(href="https://github.com/peekxc/clustertree")
												img(src="https://img.shields.io/badge/development-GitHub-orange.svg" alt="Development version on GitHub" title="Development version on GitHub")
											a(href='https://travis-ci.org/peekxc/clustertree')
												img(src='https://travis-ci.org/peekxc/clustertree.svg?branch=master', alt='Travis-CI Build Status')
									li.m-2
										a(href='https://cran.r-project.org/web/packages/dbscan/vignettes/hdbscan.html') Vignette on using HDBSCAN
					hr
					.card.m-1.border-1.p-1
						.d-flex.flex-row
							.card-header.w-100
								h3 Massive Parallel Iterative Closest Point
						.d-flex.flex-row.align-items-center
							.card-title.m-0(style="flex: 1.25 0 1em;")
								img.img-thumbnail.border-0.m-1(src="img/icp.png", alt="", style="object-fit:fill;")
							.card-body(style="flex: 2 0 10em")
								p.card-text(style="font-size: 0.9em")
									| The Iterative Closest Point (ICP) problem is now a well-studied problem that seeks to align a given query point cloud
									| to a fixed, reference point cloud a pairwise distance minimization. Intuitively, the "brute-force approach" approach
									| is to calculate the pairwise distance from every point in the query set to every point in the reference set, resulting in
									| quadratic runtime complexity.
									| Alternatively, many spatial indexing data structures utilizing branch-and-bound (B&B) properties
									| have been proposed as a means of reducing the algorithmic complexity of the ICP problem.
									| While these structures are certainly useful, many were primarily developed for serial applications:
									| is well known that direct conversion to their parallel equivalents often results in #[i slower] runtime performance than
									| GPU-employed brute-force approaches due to the frequent suboptimal memory access patterns and conditional computations these
									| spatial indexing structures often produce.
									| In this application-motivated effort,
									| we propose a novel two-step method which exposes the intrinsic parallelism of the ICP problem. Our solution involves an O(log n) approximate search,
									| followed by fast vectorized search we call the Delaunay Traversal, which we show empirically finishes in O(k) time on average, where k << n.
									| We demonstrate the superiority of our method compared to the traditional B&B and brute-force implementations using
									| a variety of heterogeneous, benchmark data sets. We also show the usefulness of our method in the context of
									| Automated Aerial Refueling by improving the runtime of the well known ICP algorithm.
						.d-flex.flex-row
							.card-footer.bg-white
								div(style="font-weight: bold; font-size: 1.2em;") Related Publication(s):
								ul
									li J. Robinson, M. Piekenbrock, L. Burchett, et. al. Parallelized Iterative Closest Point for Autonomous Aerial Refueling. In International Symposium on Visual Computing (pp. 593-602). Springer International Publishing. (2016, December)
									li Piekenbrock, M., Robinson, J., Burchett, L., Nykl, S., Woolley, B., & Terzuoli, A. (2016, July). Automated aerial refueling: Parallelized 3D iterative closest point: Subject area: Guidance and control. In Aerospace and Electronics Conference (NAECON) and Ohio Innovation Summit (OIS), 2016 IEEE National (pp. 188-192). IEEE.
			.card.bs-callout.bs-callout-warning
				h4 Education
				hr
				h5 GPA: 3.83
				.table-responsive
					table.table.table-sm
						thead
							tr
								th School
								th Degree
								th Graduation Year
						tbody
							tr
								td Wright State University
								td Masters of Science in Computer Science
								td 2018
							tr
								td Wright State University
								td
									| Bachelor of Science in Computer Science
									br
									.small Minor in Statistics
								td 2015
					h5
						span Courses Taken*
				.table-responsive
					table.table.table-bordered
						tbody
							tr
								td
									div(style="font-weight: bold;") CEG 7900:
									| Network Science
								td
									div(style="font-weight: bold;") CS 7830:
									| Machine Learning
								td
									div(style="font-weight: bold;") CS 3250:
									| Computational Tools and Techniques for Data Analysis
							tr
								td
									div(style="font-weight: bold;") STT 7020:
									| Applied Stochastic Processes
								td
									div(style="font-weight: bold;") CS 7230:
									| Information Theory
								td
									div(style="font-weight: bold;") CS 4850:
									| Foundations of Artificial Intelligence
							tr
								td
									div(style="font-weight: bold;") STT 3600/3610:
									| Applied Statistics I & II
								td
									div(style="font-weight: bold;") STT 4610:
									| Theoretical Statistics I
								td
									div(style="font-weight: bold;") CS 7200:
									| Algorithm Design and Analysis
				span(style="font-style: italic;") &nbsp; *( relevant to field of interest )
			.card.bs-callout.bs-callout-danger
				h4 Experience
				hr
				ul.list-group
					// AFIT ORAU undergraduate/graduate item
					.list-group-item
						h4.list-group-item-heading Research Associate
							small.pull-right
								| Oak Ridge Institute for Science and Education
						h5 Air Force Research Laboratory, WPAFB
							small.pull-right Fall 2018 - Present (also Fall 2017)
						div(style="font-weight: bold;") Studied:
						p.
							As I read more into theoretical foundations of density-based clustering, my research began to intersect Topology Theory and Manifold Learning.
							In 2017, I began to research these connections in a minor capacity with a local research group studying the intersection of TDA and machine learning.
							The research primarily involved understanding the basic foundations of Topology towards extending the Mapper framework, a popular and very general method which has
							been used successfully for data analysis.
						p.
							Starting Fall 2018 I was hired full-time to begin enhancing/extending Mapper, and to assist the team in using Mapper on real-world applications. My
							primary research towards this end has been two-fold: (1) to enable efficient construction of mappers in a multiscale setting, (2) understand
							the full range of use-cases for the Mapper framework. For more details, see below.
						div(style="font-weight: bold;") Published:
						ul
							li M. Piekenbrock and D. Doran. Enabling Multi-Scale Simplical Complex Generation for Mapper. SIAM Journal on Applied Algebra and Geometry, 2018 (intending).
								a(href="resources/indexed_mapper.pdf") &nbsp; [Preliminary draft available]
							p(style="color: red;").
								NOTE: This is paper is still developing, and is made available in spirit of transparent research.
								Some equations may be incorrect and there may be notational errors.
						div(style="font-weight: bold;") Related Materials:
							ul
								li.m-2
									a(href="https://github.com/peekxc/Mapper") Mapper R Package
									p.pull-right
										a(href="")
											img(src="https://img.shields.io/badge/development-GitHub-orange.svg" alt="Development version on GitHub" title="Development version on GitHub")
										a(href='https://travis-ci.com/peekxc/Mapper.svg?branch=master')
											img(src='https://travis-ci.com/peekxc/Mapper.svg?branch=master', alt='Travis-CI Build Status')
										a(href="https://peekxc.github.io/Mapper/")
											img(src="https://readthedocs.org/projects/pip/badge/?version=latest&style=flat")
					// NASA item
					.list-group-item
						//div(style="background-image: url('img/award.jpeg');")
						h4.list-group-item-heading LERCIP Intern
							small.pull-right
								| National Aeronautics and Space Administration
						h5 John H. Glenn Research Center at Lewis Field, OH
							small.pull-right Summer 2018
						div(style="font-weight: bold;") Studied:
						p.
							I was hired by Dr. Steven Arnold under NASAs LERCIP program to apply Machine Learning to a specific Material Science problem. The
							research project involving creating a surrogate model for the generalized method of cells (GMC) technique using
							Deep Learning, and then interpreting various aspects of the data produced under the model using a non-parameteric Optimal
							Experimental Design-motivated optimization procedure recently made possible by the Approximate Coordinate Exchange algorithm.
						div(style="font-weight: bold;") Related Materials:
						ul
							li [Presentation material available on request]
							li M. Piekenbrock, T. Ricks, and S. Arnold. Using surrogate modeling to interpreting PSP linkage relationships. NASA tech report, 2019 (intending).
							p(style="color: orange;").
								NOTE: A technical report and associated journal article is currently being developed to fully capture and report
								the results of the research project. Preliminary draft versions of both the code and the report(s) are
								available upon request to U.S. citizens only.
					.list-group-item
						h4.list-group-item-heading Graduate Research Assistant
							small.pull-right
								| Wright State University
						h5 Web and Complex Systems Lab, Kno.e.sis
							small.pull-right January 2016 - April 2018
						div(style="font-weight: bold;") Worked on:
						p.list-group-item-text
							ul
								li Density-based clustering (R/Rcpp)
								li Nonparametric Geospatial Point of Interest detection (R/C++)
								li Spatio-temporal Social Network Model for spatial data (R)
						div(style="font-weight: bold;") Studied:
						p.
							My graduate research involved a large, multifaceted project aimed at modeling real-world traffic network
							networks at a macroscopic scale. The goal of the project is to turn raw positioning/track information
							into a dynamic network representation, and then model that representation. The project involved researching
							density-based clustering algorithms,
							cluster validation measures, non-parametric density estimation techniques, markov chain monte carlo optimization techniques,
							and random graph modeling (stochastic block models).
					// GSOC item
					.list-group-item
						h4.list-group-item-heading Student Participant
							small.pull-right
								| Google Summer of Code
						h5 R Project for Statistical Computing
							small.pull-right Summer 2017
						div(style="font-weight: bold;") Worked on:
						p.
							I submitted a successful funding proposal under the #[a(href="https://developers.google.com/open-source/gsoc/") Google Summer of Code] (GSOC) Initiative to the R Project for Statistical Computing
							to explore, develop, and unify recent developments related the theory of density-based clustering. This involved a mixture of code
							development which culminated in the form of an R package, as well as deep research to further understand the theory and utility of the cluster tree.
							There was also a #[a(href="https://webapp2.wright.edu/web1/newsroom/2017/05/22/statistical-standout-2/") WSU newsroom piece] that describes the proposal in a non-technical way.
						div(style="font-weight: bold;") Related Materials:
							ul
								li.m-2
									a(style="font-weight: bold;" href="https://summerofcode.withgoogle.com/archive/2017/projects/5919718795902976/") Project Link
								li.m-2
									a(href="https://github.com/peekxc/clustertree") clustertree R Package
									p.pull-right
										a(href="https://github.com/peekxc/clustertree")
											img(src="https://img.shields.io/badge/development-GitHub-orange.svg" alt="Development version on GitHub" title="Development version on GitHub")
										a(href="https://deploy-preview-81--tidyverse-org.netlify.com/lifecycle/#maturing")
											img(src="https://img.shields.io/badge/lifecycle-maturing-blue.svg" alt="CRAN version")
										a(href='https://travis-ci.org/peekxc/clustertree')
											img(src='https://travis-ci.org/peekxc/clustertree.svg?branch=master', alt='Travis-CI Build Status')

					// AFIT ORAU undergraduate/graduate item
					a(name="ORAU")
					.list-group-item
						h4.list-group-item-heading Civilian Research Associate
							small.pull-right
								| Oak Ridge Institute for Science and Education
						h5 Air Force Institute of Technology, WPAFB
							small.pull-right June 2014 - March 2017
						div(style="font-weight: bold;") Worked on:
						p.list-group-item-text
							ul
								li Computer Vision Project involving a parallelized Iterative Closest Point (ICP) algorithm (C++/CUDA)
								li Parallelization of existing atmospheric absorption routines (MATLAB MEX/OpenCL)
								li Modeling web navigation patterns using hierarchical Markov Models (R/MATLAB)
								li Web interface to viewing 3D models (WebGL/JavaScript)
						div(style="font-weight: bold;") Studied:
						p.
							Being a heavily multi-disciplinary team, I worked on several exploratory or educational projects involving computational, statistical, and physics-based problems.
							Much of the work involved assisting the Air Force graduate students with their research work. In that time, I studied topics including branch-and-bound
							spatial indexing data structures (kd-trees, cover trees, locality sensitive hashing), the ICP problem, finite mixture modeling,
							markov chain modeling, and general parameter estimation techniques (EM/MAP estimation).
						div(style="font-weight: bold;") Published:
						ul
							li J. Robinson, M. Piekenbrock, L. Burchett, et. al. Parallelized Iterative Closest Point for Autonomous Aerial Refueling. In International Symposium on Visual Computing (pp. 593-602). Springer International Publishing. (2016, December)
							li L. Burchett, J. Robinson, M. Piekenbrock, et. al. “Automated aerial refueling: Parallelized 3d iterative closest point,” in IEEE NAECON, 2016, pp. 1–5 (2016)

					// WSU WACS undergraduate item
					.list-group-item
						h4.list-group-item-heading Undergraduate Research Assistant
							small.pull-right
								| Wright State University
						h5 Web and Complex Systems Lab, Kno.e.sis
							small.pull-right August 2015 - December 2015
						div(style="font-weight: bold;") Worked on:
						p.list-group-item-text
							ul
								li Dynamic Geospatial analysis of wide-area motion imagery (R/Python/Java)
						div(style="font-weight: bold;") Studied:
						p.
							Various random graph models such as Erdős–Rényi models and Exponential Random Graph Models (ERGMs),
							entropy measures over networks, density-based clustering techniques (DBSCAN and OPTICS), non-parametric
							time-varying regression models (ARMA + ARIMA models)
						div(style="font-weight: bold;") Published:
						ul
							li Maurice, Matthew, Matthew Piekenbrock, and Derek Doran. "WAMINet: An Open Source Library for Dynamic Geospace Analysis Using WAMI." Multimedia (ISM), 2015 IEEE International Symposium on. IEEE, 2015.
						div(style="font-weight: bold;") Related Materials:
						ul
							li.m-2
								a(href="https://github.com/mhahsler/dbscan") dbscan R Package
								p.pull-right
									a(href="https://travis-ci.org/mhahsler/dbscan.svg?branch=master")
										img(src="https://img.shields.io/badge/development-GitHub-orange.svg" alt="Development version on GitHub" title="Development version on GitHub")
									a(href='https://travis-ci.org/mhahsler/dbscan')
										img(src='https://travis-ci.org/mhahsler/dbscan.svg?branch=master', alt='Travis-CI Build Status')
									a(href="https://cran.r-project.org/package=dbscan")
										img(src="http://www.r-pkg.org/badges/version/dbscan" alt="CRAN version")
					// AFIT SOCHE undergraduate item
					.list-group-item
						h4.list-group-item-heading Civilian Research Assistant
							small.pull-right
								| Southwestern Ohio Council For Higher Education
						h5 Air Force Institute of Technology, WPAFB
							small.pull-right December 2013 - June 2014
						div(style="font-weight: bold;") Worked on:
						p.list-group-item-text
							ul
								li Conversion of Nonlinear Optimization algorithm to C89 implementation (MATLAB/C)
								li Implementation of unsplittable flow approximation algorithm (C++/Python)
								li Search engine/web application for the Ozone Widget Framework (JavaScript/PHP)
								li Conversion tool from Oracle’s Abstract Data Type to XMLType in Oracle’s Enterprise DBMS
						div(style="font-weight: bold;") Studied:
						p.
							Gauss–Newton Method, approximation algorithms for unsplittable flow problems, graph theory (by extension),
							relational (Oracle/PostGreSQL/SQLite) and document-based database interaction (MongoDB),
							Natural language processing  techniques for SEO (PageRank), asynchronous vs. synchronous
							client-server communication strategies with AJAX and NodeJS/PHP servers,
							XML Schema and XML Technologies [Xlink, XPath, etc.]
			.card.bs-callout.bs-callout-black
				h4 Project Reports / Code Samples / Package Contributions
				hr
				ul.list-group
					li.list-group-item.clearfix.border-bottom-0
						a(href="https://github.com/mhahsler/dbscan") dbscan R Package
						p.pull-right
							a(href="https://cran.r-project.org/package=dbscan")
								img(src="http://www.r-pkg.org/badges/version/dbscan" alt="CRAN version")
							a(href='https://travis-ci.org/mhahsler/dbscan')
								img(src='https://travis-ci.org/mhahsler/dbscan.svg?branch=master', alt='Travis-CI Build Status')
							a(href="https://cran.r-project.org/package=dbscan")
								img(src="http://cranlogs.r-pkg.org/badges/dbscan" alt="CRAN RStudio mirror downloads")
					li.list-group-item.clearfix.border-bottom-0
						a(href="https://github.com/peekxc/clustertree") clustertree R Package
						p.pull-right
							a(href="https://github.com/peekxc/clustertree")
								img(src="https://img.shields.io/badge/development-GitHub-orange.svg" alt="Development version on GitHub" title="Development version on GitHub")
							a(href='https://travis-ci.org/peekxc/clustertree')
								img(src='https://travis-ci.org/peekxc/clustertree.svg?branch=master', alt='Travis-CI Build Status')
							a(href="https://deploy-preview-81--tidyverse-org.netlify.com/lifecycle/#maturing")
								img(src="https://img.shields.io/badge/lifecycle-maturing-blue.svg" alt="CRAN version")
					li.list-group-item.clearfix.border-bottom-0
						a(href="https://github.com/peekxc/Mapper") Mapper R Package
						p.pull-right
							a(href="https://github.com/peekxc/mapper")
								img(src="https://img.shields.io/badge/development-GitHub-orange.svg" alt="Development version on GitHub" title="Development version on GitHub")
							a(href='https://travis-ci.com/peekxc/Mapper.svg?branch=master')
								img(src='https://travis-ci.com/peekxc/Mapper.svg?branch=master', alt='Travis-CI Build Status')
							a(href="https://deploy-preview-81--tidyverse-org.netlify.com/lifecycle/#maturing")
								img(src="https://img.shields.io/badge/lifecycle-maturing-blue.svg" alt="CRAN version")
					li.list-group-item.clearfix.border-bottom-0 TDA + Manifold Learning Presentation
						a.pull-right(href="resources/DSSC_TDA_selected_slides.pdf") (PDF)&nbsp;
						div.small
							| Presentation I gave to the
							a(href="http://dssc.cs.wright.edu/") &nbsp;Data Science and Security Cluster Group
					li.list-group-item.clearfix.border-bottom-0 Clustering Presentation
						a.pull-right(href="resources/animations.zip") (GIF Animations)
						a.pull-right(href='#videoModal', data-toggle='modal')#dssc_link (Video)&nbsp;
						a.pull-right(href="resources/DSSC_Clustering.pdf") (PDF)&nbsp;
						div.small
							| Presentation I gave to the
							a(href="http://dssc.cs.wright.edu/") &nbsp;Data Science and Security Cluster Group
							| &nbsp;and the
							a(href="http://knoesis.org/") &nbsp;Kno.e.sis research group
					li.list-group-item.clearfix.border-bottom-0
						| Machine Learning Project:
						a(href="https://en.wikipedia.org/wiki/Bayesian_linear_regression") &nbsp; Bayesian Linear Regression
						a.pull-right(href="resources/make-wright-choice.pdf") (PDF)
					//li.list-group-item.clearfix Simple Artificial Neural Network R Code (made from scratch)
					//	a.pull-right(href="code_samples/nnet.R") (R Code)
					li.list-group-item.clearfix.border-bottom-0 Introductory tutorial on Markov Chain Monte Carlo Basics
						a.pull-right(href="resources/stochastic_presentation.pdf") (Presentation)
						a.pull-right(href="resources/stochastic_project.pdf") (PDF)&nbsp;
					li.list-group-item.clearfix Notes on Bayesian Network Training Basics
						a.pull-right(href="resources/bayesian_net_intro.pdf") (PDF)
			.card.bs-callout.bs-callout-default
				h4 Awards, Extra Curricular, Misc.
				hr
				ul.list-group
					li.list-group-item.clearfix.border-bottom-0
						a(tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="", style="max-width: 100%;")
							| Outstanding Masters student Award (Computer Science)
						a(href="https://engineering-computer-science.wright.edu/computer-science-and-engineering").small.pull-right Wright State College of Engineering and Computer Science
					li.list-group-item.clearfix.border-bottom-0
						| Student participant and presenter (poster)
						a(href="https://mbi.osu.edu/event/?id=1197#description").small.pull-right TGDA NSF TRIPODS Workshop and Summer School
					li.list-group-item.clearfix.border-bottom-0
						| Outstanding Position Paper Award
						a(href="http://www.nmun.org/").small.pull-right National Model United Nations Annual Conference ('14)
					li.list-group-item.clearfix.border-bottom-0
						| Outstanding Delegation Award
						a(href="http://www.nmun.org/").small.pull-right National Model United Nations Annual Conference ('13)
					li.list-group-item.clearfix
						| Honorable Mention Award
						a(href="http://www.daymunc.org/").small.pull-right Regional Model United Nations Annual Conference ('13 and '14)
			.card.bs-callout
				h4 Outreach, Volunteer Work
				hr
				ul.list-group
					li.list-group-item.clearfix.border-bottom-0
						a.pull-right(href="resources/CJ_STEMM_talk.pdf") (PDF)&nbsp;
						| Invited Speaker (local High School outreach)
						div.small
							| Presentation I gave as part of the
							a(href="https://www.cjeagles.org/community-updates/stemm-idol-matt-piekenbrock-10").small &nbsp;CJ STEMM Idol Series
					li.list-group-item.clearfix.border-bottom-0
						| Volunteer Staff Position
						a(href="http://www.daymunc.org/").small.pull-right Regional Model United Nations Annual Conference ('16 and '17)
					li.list-group-item.clearfix
						| Developer and Maintainer of:
						a(href="http://www.daymunc.org/").pull-right daymunc.org
	// Modal that pops up for the videos
	.bs-example
		// Modal HTML
		#videoModal.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h4.modal-title Clustering Overview Video
					.modal-body
						video#dssc_video(width='560', height='315', controls)
							source(src='http://distance.cecs.wright.edu/assets/protected/MTA4MT/', type="video/mp4")
	script(src="js/popper.min.js")
	script(src="js/jquery-3.1.1.min.js")
	script(src="js/bootstrap.min.js")
	script.
		$("[data-toggle=popover]").popover({
			html: true,
			trigger: 'hover',
			container: 'body',
			content: function () {
				return '<img class="img-thumbnail" src="img/award.jpeg"/>';
			}
		});
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject'] = r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-97076615-1', 'auto');
		ga('send', 'pageview');