<!DOCTYPE html>
html(lang="en-US")
	block head 
		include partials/head.pug	
	header 
		include partials/navbar.pug
	body(style="min-width: 38rem;")
		block main 
		block sidebar	
		block scripts
		include partials/footer.pug