<!DOCTYPE html>
html(lang="en-US")
	include partials/head.pug	
	header 
		include partials/navbar.pug
	body
		block main 
		block sidebar	
		block scripts
		include partials/footer.pug
		link(rel="stylesheet" property="stylesheet" type="text/css" href="/css/fonts.css")