<!DOCTYPE html>
html.h-100(lang="en-US")
	include partials/head.pug	
	header 
		include partials/navbar.pug
	body.flex.flex-col.min-h-screen(data-te-spy='scroll' data-te-target='#scrollspy-cv' data-te-offset='200')
		block main 
		block sidebar	
		//- include ./partials/js_includes.pug
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous")
		//- script(src="/js/highlight.min.js")
		//- script hljs.initHighlightingOnLoad()		
		include partials/footer.pug
		script. 
			//- Reset zoom
			var scale = 'scale(1)';
			document.body.style.webkitTransform = scale;   
			document.body.style.msTransform = scale;
			document.body.style.transform = scale;
		script(src="https://code.jquery.com/jquery-3.6.0.min.js")
		script(href=filters.url("/js/katex.min.js")) 
		script(src=filters.url("/js/tw-elements.umd.min.js"))
		script.
			$(document).ready(function() {

				// Toggle close accordions with data indices
				//- var project_cards = $('#projects').find('.card')
				var cards = $(document).find('.card')
				$(cards).on('click', function() {
					//- console.log("Clicked project card " + $(this).attr("id"))
					$(this).find(".accordion-header").toggleClass("active")
					$(this).find(".accordion-body").toggleClass("hidden")
					$(this).find(".text-ellipsis").toggleClass("hidden");
					$(this).find('svg').toggleClass("hidden");
				});

				//- $(".accordion-header").click(function() {
				//- 	$(this).toggleClass("active");
				//- 	//- $(this).next(".accordion-body").toggleClass("hidden");

				//- 	// Toggle child accordions when parent accordion is clicked
				//- 	//- $(this).next(".accordion-body").find(".accordion-header").toggleClass("active");
				//- 	//- $(this).next(".accordion-body").find(".accordion-body").toggleClass("hidden");
				
				//- 	// Toggle close accordions with data indices
				//- 	const index = $(this).data('index');
				//- 	$('.accordion-body[data-index=' + index + ']').toggleClass("hidden");
				//- 	$('.accordion-body[data-index!=' + index + ']').addClass('hidden');

				//- 	// Toggle visibility of the last p element with .text-ellipsis class
				//- 	//- $(this).closest(".grid").find("p.text-ellipsis:last-child").toggleClass("hidden");
				//- });
			})
