<!DOCTYPE html>
html.h-100(lang="en-US")
	include partials/head.pug	
	header 
		include partials/navbar.pug
	body.w-full.h-full
		block main 
		block sidebar	
		//- include ./partials/js_includes.pug
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous")
		//- script(src="/js/highlight.min.js")
		//- script hljs.initHighlightingOnLoad()		
		script. 
			//- Reset zoom
			var scale = 'scale(1)';
			document.body.style.webkitTransform = scale;   
			document.body.style.msTransform = scale;
			document.body.style.transform = scale;
		script(src="https://code.jquery.com/jquery-3.6.0.min.js")
		script.
			$(document).ready(function() {
				$(".accordion-header").click(function() {
					$(this).toggleClass("active");
					$(this).next(".accordion-body").toggleClass("hidden");

					// Toggle child accordions when parent accordion is clicked
					$(this).next(".accordion-body").find(".accordion-header").toggleClass("active");
					$(this).next(".accordion-body").find(".accordion-body").toggleClass("hidden");
					
					// Toggle visibility of the last p element with .text-ellipsis class
					$(this).closest(".grid").find("p.text-ellipsis:last-child").toggleClass("hidden");
				});
			})
	include partials/footer.pug
//- // = console.log(page.fileSlug)
//- // block main 
//- // = console.log(collections)
//- // div !{ content }
//- - collections.all.forEach(cc => {
//- -		// console.log(cc.fileSlug + " type: " + cc.title);
//- - 	// console.log(Object.keys(cc.data))
//- -   // console.log(cc.data.tags)
//- -   if ("post" in cc.data.tags){
//- -  	  console.log(cc.fileSlug)
//- 			block main 
//- -   }
//- - });
//- //- - for (cc in collections.all){
//- //- - 	console.log(cc)	
//- //- - }