<!DOCTYPE html>
html(lang="en-US")
	block head 
		include partials/head.pug	
	include partials/navbar.pug
	body(style="min-width: 428px !important;")
		block main 
		block sidebar	
		block scripts
		include partials/footer.pug