extends ./baseof.pug

block main 
	.container.flex.flex-col.mx-auto.py-2.px-32.border-2
		ul.list-desc.relative.overflow-auto.space-y-2.prose-lg 
		- console.log(collections.posts[1].page)		
		each post in collections.posts
			//- - console.log(post.data.draft)
			if !post.data.draft 
				li 
					span
					|	(#{post.data.date}) 
					a(href=post.url)= post.data.title