extends ./baseof.pug

block main 
	.container.px-8.mx-auto.items-center.max-w-5xl(style="min-width: 634px;" class="sm:mx-16 md:mx-32 lg:mx-64 sm:px-8 md:px-16 lg:px-32 sm:shrink-0")
		article.prose.prose-sm.lead-3.prose-blockquote.max-w-none 
			h1.my-4 #{ title }
			#page_content.w-full
			!= content 
			br
//- (class="md:flex md:flex-col")
block sidebar
	//- {{ $page_content := ( printf "%s/%s.html" .File.Dir .File.BaseFileName ) | relURL }}
	//- {{ with .Site.GetPage (printf "%s" $page_content) }}
	//-   p {{ .TableOfContents }}
	//-   {{ partial "scrollspy" . }}
	//- {{ end }}
	//- TODO: implement auotmated scrollspy https://github.com/jake-low/remark-sectionize/blob/master/index.js