extends ./baseof.pug

block main 
	main.container.items-center.max-w-none.m-0.mx-auto
		.prose.prose-sm.lead-3.prose-blockquote.max-w-4xl.px-12.mx-auto
			h1.my-4 #{ title }
			#page_content.w-full
			!= content 
			br

block sidebar
	//- TODO: implement auotmated scrollspy https://github.com/jake-low/remark-sectionize/blob/master/index.js

block scripts 
	include partials/base_scripts.pug