extends ./baseof.pug

block main 
	.container.grid.grid-cols-12.mx-auto.py-2.border-2(class="lg:px-32")
		.col-span-10.relative.overflow-auto.space-y-2
			//- div.svg_up_arrow.w-32.h-32

			section#statement.flex.flex-col(class="lg:hidden")
				//- h2.font-bold.text-green-400.text-xl Statement
				include partials/bio_card
						//- <a href="/resources/cv_7.pdf" class="cursor-pointer underline" style='color: #0000EE;'>available here</a>
						//- .bg-yellow-200.border.border-gray-400.px-1.py-1.rounded.relative.text-center.w-full
						//- | Traditional paper CV 
						//- a(href="/resources/cv_7.pdf" class="cursor-pointer underline" style='color: #0000EE;') available here
			
			section#compute_experience.flex.flex-col.space-y-1.border-sm.p-2.mx-auto.w-full
				h2.font-bold.text-blue-400.text-xl Programming Experience
				//- - var x = collections.snippets
				//- - console.log(x)
				p.prose-md.text-justify.
					My computational experience is diverse. My #[a(href='#education') university coursework] was mostly a mix of Java, C++, and Matlab. 
					I used C++ and ANSI-C extensively for the #[a(href='#education') Air Force Institute] in my #[a(href='#wsu_ug') undergraduate years], occasionally writing high level scripts in Python or Matlab.
					Post undergraduate, I used the #[a(href="https://www.r-project.org/" style='color: #0000EE;') R project] or Python from 2015-2019 for the majority of the projects I was involved in. 
					Since 2020, interfacing Python with C++ #[a(href="https://en.wikipedia.org/wiki/Foreign_function_interface" style='color: #0000EE;') FFIs] 
					(e.g. #[a(href="https://pybind11.readthedocs.io/en/stable/index.html" style='color: #0000EE;') pybind11]) has been my preferred development workflow.

			section#projects.flex.flex-col.space-y-1.border-sm.p-2.mx-auto.w-full
				h2.font-bold.text-yellow-400.text-2xl Projects
					//- - console.log(collections.projects)
				each project, index in [...collections.projects].reverse()
					div!= project.data.content

			section#employment.flex.flex-col.space-y-1.border-sm.p-2.mx-auto.w-full
				h2.font-bold.text-red.text-2xl Employment
				ol.relative.ml-3.border-l.border-red-400
					each job in [...collections.jobs].reverse()
						.flex-start.flex.items-center.pt-1
							.absolute.w-4.h-4.bg-red-400.rounded-full.border.border-white(class='-left-2') 
							li.ml-3.w-full!= job.data.content
							
			section#education.flex.flex-col.border-sm.p-2.mx-auto.w-full
				h2.font-bold.text-orange.text-2xl Education
				ol.relative.ml-3.border-l.border-orange-400
					each uni  in [...collections.schools].reverse()
						.flex-start.flex.items-center.pt-1
							.absolute.w-4.h-4.bg-orange-400.rounded-full.border.border-white(class='-left-2')
							li.ml-3.w-full(id=uni.page.fileSlug)
								!= uni.data.content
								//- include partials/edu_card

		.col-span-2
			#scrollspy-cv.sticky.top-0.pl-2.text-md
				ul(data-te-nav-list-ref='')
					li.py-1
						a.bg-transparent.text-neutral-600.shadow-none(data-te-nav-link-ref='' class='px-[5px] dark:text-neutral-200' href='#compute_experience') Compute Bio
					li.py-1
						a.bg-transparent.text-neutral-600.shadow-none(data-te-nav-link-ref='' data-te-nav-link-active='' class='px-[5px] dark:text-neutral-200' href='#statement') Statement
					li.py-1
						a.bg-transparent.text-neutral-600.shadow-none(data-te-nav-link-ref='' class='px-[5px] dark:text-neutral-200' href='#projects') Projects
					li.py-1
						a.bg-transparent.text-neutral-600.shadow-none(data-te-nav-link-ref='' class='px-[5px] dark:text-neutral-200' href='#employment') Employment
					li.py-1
						a.bg-transparent.text-neutral-600.shadow-none(data-te-nav-link-ref='' class='px-[5px] dark:text-neutral-200' href='#education') Education
			//- //- For debugging 
			//- each job,index in collections.jobs
			//- 		p!= job.data.content
			//- 		-	console.log(job.data)

			//- #accordionExample.divide-y
			//- 	.rounded-t-md.border.border-neutral-200.bg-white(data-te-collapse-init='' data-te-target='#collapse-1')
			//- 		h2#heading-1.mb-0 Accordion Item #1
			//- 		#collapse-1.border-t(class='!visible' data-te-collapse-item='' data-te-collapse-show='' data-te-parent='#accordionExample')
			//- 			code.px-2.py-2.accordion-body Testing 
			//- 	.rounded-t-md.border.border-neutral-200.bg-white(data-te-collapse-init='' data-te-target='#collapse-2')
			//- 		h2#heading-2.mb-0 Accordion Item #2
			//- 		#collapse-2.border-t(class='!visible hidden' data-te-collapse-item='' data-te-collapse-show='' data-te-parent='#accordionExample')
			//- 			code.px-2.py-2.accordion-body Testing 
			//- 	.rounded-t-md.border.border-neutral-200.bg-white(data-te-collapse-init='' data-te-target='#collapse-3')
			//- 		h2#heading-3.mb-0 Accordion Item #2
			//- 		#collapse-3.border-t(class='!visible hidden' data-te-collapse-item='' data-te-collapse-show='' data-te-parent='#accordionExample')
			//- 			code.px-2.py-2.accordion-body Testing 

		//- Most general way to do it
		//- .flex.flex-col.space-y-1.border-sm.p-2.mx-auto.w-full
		//- 	h2.font-bold.text-red.text-xl Employment
		//- 	ol.relative.ml-3.border-l.border-red-400
		//- 		each card in jobs2
		//- 			.flex-start.flex.items-center.pt-1
		//- 				.absolute.w-4.h-4.bg-red-400.rounded-full.border.border-white(class='-left-2') 
		//- 				li.ml-3.w-full
		//- 					include partials/card
