extends ./baseof.pug



block head 
	include ./partials/head.pug	
	//- - var FONT_NAME = "Vollkorn";
	//- link(rel="preload" href="fonts/"+FONT_NAME+"/"+FONT_NAME+"-Bold.woff2" as="font" type="font/woff2" crossorigin)
	//- link(rel="preload" href="fonts/"+FONT_NAME+"/"+FONT_NAME+"-Italic.woff2" as="font" type="font/woff2" crossorigin)
	//- link(rel="preload" href="fonts/"+FONT_NAME+"/"+FONT_NAME+"-Regular.woff2" as="font" type="font/woff2" crossorigin)


//- Working grid layout: 
//- https://play.tailwindcss.com/oxQ6VX7DIg?size=1032x720
block main  
	//- .w-full.min-h-screen.max-w-screen
	main.grid.grid-cols-1(class="md:grid-cols-12")
		aside.hidden(class="md:block md:col-span-2")
		//- NO h-full on main! also delegate min width to higher elements. For some reason mx-auto messes up with col-span
		//- px-4 md:px-4 lg:px-6
		//- iAWriterQuattroS
		article.mx-auto.w-full.text-justify(class="md:col-span-8" style="max-width: 85ch;") 
			.prose.prose-base.prose-article(style="font-family: 'et-book';") 
				h1.my-1.text-center #{ title }
				//- .font-light.text-center.text-gray Author:&nbsp; 
				//- .flex.justify-between.items-end
				//- TODO: author icon like https://demo.ghost.io/down-the-rabbit-hole/ or https://chirpy.cotes.page/posts/getting-started/
				.text-sm.italic.text-center
					| By: Matt Piekenbrock,&nbsp;&nbsp;&nbsp; Posted: #{ filters.date(date) }, &nbsp;&nbsp;&nbsp; ~#{filters.readingTime(content)}
				.text-center
					.space-x-1.align-middle
						each cat in categories
							span.px-1.py-0.text-sm.rounded-sm.border #{cat}
				hr.m-1
				#page_content.pt-4.w-full
					!= content 
				br
		//- aside.flex.hidden.overflow-y-visible.sticky.top-0.pt-4.h-screen.justify-left
		aside.hidden(class="md:block md:col-span-2")
			- var page_toc = filters.toc(content);
			//- - console.log(page_toc)
			if page_toc
				ol#toc.sticky.top-2.space-1-2.text-neutral-600(class="px-[5px] dark:text-neutral-200 hover:text-gray-600")
					- var el = filters.toHTML(page_toc);
					- var items = el.getElementsByTagName("li");
					each item in items
						!= item 
					//- - el = el.querySelector('ol');
					//- - el.setAttribute('id', 'scrollspy');
					//- - el.classList.add('sticky');
					//- - el.classList.add('top-0');
					//- - el.classList.add('space-1-2');
					//- - el.classList.add('text-neutral-600')
					//- - el.classList.add('px-[5px]')
					//- - el.classList.add('dark:text-neutral-200')
					//- - console.log(page_toc)

block scripts
	//- script(src="/js/gumshoe.polyfills.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/simple-scrollspy/2.4.1/simple-scrollspy.min.js" integrity="sha512-NNb5TgmE+7PHedvAWwPKZ/ukCGJciTHZ23ghPriEeEfcGySDBm9zIrjaXp/WNAUcVYhi5XhJ1rHveDKR35CInw==" crossorigin="anonymous" referrerpolicy="no-referrer")
	include ./partials/scripts.pug
	link(rel="stylesheet" property="stylesheet" type="text/css" href="/css/fonts.css")
	link(rel="stylesheet" property="stylesheet" type="text/css" href="/css/katex.min.css") 
	link(rel="stylesheet" property="stylesheet" type="text/css" href="/css/github.min.css")
	link(rel="stylesheet" property="stylesheet" type="text/css" href="/css/prism-one-light.css")
	script(src="https://utteranc.es/client.js" repo="peekxc/blog_comments" issue-term="pathname" theme="preferred-color-scheme" crossorigin="anonymous" async)
	script(src="https://cdn.bokeh.org/bokeh/release/bokeh-3.2.0.min.js")
	script.
		window.onload = function () {
			navbar = document.querySelector("#navbar");
			var scrollspy = scrollSpy("#toc", {
				sectionClass: ".scrollspy", 
				menuActiveTarget: "li > a", 
				offset: navbar.getBoundingClientRect().height, 
				smoothscroll: true,
				//- scrollContainer: "article"
				//- onActive: (el) => {
				//- 	console.log('run "onActive"...', el)
				//- }
			})
		}
	//- script.
	//- 	var spy = new Gumshoe('#toc li a', {
	//- 		offset: function () { 
	//- 			navbar = document.querySelector("#navbar");
	//- 			return navbar.getBoundingClientRect().height; 
	//- 		},
	//- 		reflow: false
	//- 	});



block sidebar