extends ./baseof.pug

block main 
	.container.mx-auto.px-48.items-center.max-w-screen-xl
		article.prose.prose-sm.lead-3.prose-blockquote.max-w-none
			h1.my-4 #{ title }
			#page_content.w-full
			!= content 
			br

block sidebar
	//- {{ $page_content := ( printf "%s/%s.html" .File.Dir .File.BaseFileName ) | relURL }}
	//- {{ with .Site.GetPage (printf "%s" $page_content) }}
	//-   p {{ .TableOfContents }}
	//-   {{ partial "scrollspy" . }}
	//- {{ end }}
	//- TODO: implement auotmated scrollspy https://github.com/jake-low/remark-sectionize/blob/master/index.js