article.card
  .container-fluid
    .row
      .col-md-4.p-1
        img.card-img-top(src="post/2015-07-23-r-rmarkdown_files/figure-html/pie-1.png", style="object-fit: contain; display: block;")
      .col-md-8.card-body
        h4.card-title
          a(href="#") #{ title }
        h6.card-subtitle.mb-2.text-muted
          span.fa.fa-clock-o
          span &nbsp; #{ date } ~ 1 Words
        small.card-text #{ summary }
        // footer.pull-right
        //  a.btn.btn-primary.btn-sm href={{ .Permalink }}
        //    | Read more
