extends ../baseof.pug

block main
	main.flex.min-h-screen.w-full.flex-row.px-0(class="md:px-16 lg:px-32")
		.m-2.mx-auto.w-full.max-w-4xl.flex-grow.p-2.px-4
			h2.my-2.text-2xl.font-bold.underline(style="text-align: center") 
				| Software
			ul.list-none.prose.prose-base.prose-md
				each lib in [...collections.software].reverse()
					!= filters.readHTML(lib.page.outputPath)

block scripts
	include ../partials/scripts.pug
	link(
		rel="stylesheet",
		property="stylesheet",
		type="text/css",
		href="/css/katex.min.css"
	) 
