@charset "UTF-8";

/* Import ET Book styles adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */
@font-face {
	font-family: "et-book";
	src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
	src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* https://web.dev/articles/preload-optional-fonts */
@font-face {
  font-family: 'Vollkorn';
  src: url('/fonts/Vollkorn/Vollkorn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
	font-display: optional;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('/fonts/Vollkorn/Vollkorn-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
	font-display: optional;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('/fonts/Vollkorn/Vollkorn-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
	font-display: optional;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/NunitoSans/NunitoSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
	font-display: optional;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/NunitoSans/NunitoSans-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
	font-display: optional;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/NunitoSans/NunitoSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
	font-display: optional;
}

@font-face {
  font-family: 'monaspace';
  src: url('/fonts/monaspace/MonaspaceNeon-Medium.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
	font-display: optional;
}

@font-face {
  font-family: 'monaspace';
  src: url('/fonts/monaspace/MonaspaceNeon-Italic.woff') format('woff2');
  font-weight: 400;
  font-style: italic;
	font-display: optional;
}

@font-face {
  font-family: 'monaspace';
  src: url('/fonts/monaspace/MonaspaceNeon-Bold.woff') format('woff2');
  font-weight: bold;
  font-style: normal;
	font-display: optional;
}