script(src="/js/gumshoe.polyfills.min.js")
script.
	document.addEventListener('DOMContentLoaded', function() {
		var cards = document.querySelectorAll('.cursor-context-menu');
		cards.forEach(function(card) {
			card.addEventListener('click', function() {
				console.log(this);
				var parent = this.parentElement;
				parent.querySelector(".accordion-header").classList.toggle("active");
				parent.querySelector(".text-ellipsis").classList.toggle("hidden");
				parent.querySelector(".accordion-body").classList.toggle("hidden");
				parent.querySelector('svg').classList.toggle("hidden");
			});
		});
	});
script.
	window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
script(defer src="/_vercel/speed-insights/script.js")
script(defer src="/_vercel/insights/script.js")