.flex.bg-neutral-100.rounded-lg.border.border-gray-400.mx-16
  .flex.flex-col.p-2.my-auto.justify-items-center
    img.object-cover.rounded-t-md.align-middle(src="/resources/profile_pic_blue-min.jpg" style="max-width: 14rem;")
    .flex.justify-between.items-stretch
      a.flex.grow.items-center.rounded-bl-sm(style="white-space: nowrap; background-color: #5087ed;" class="py-1.5" href="https://scholar.google.com/citations?user=2lPQ3UQAAAAJ&hl=en")
        span.align-middle.scholar_logo.bg-no-repeat.bg-center.h-4.w-4.mx-auto
      a.flex.grow.items-center.bg-black(style="white-space: nowrap" class="py-1" href="https://github.com/peekxc")
        span.align-middle.github_logo.bg-no-repeat.bg-center.h-4.w-4.mx-auto
      a.flex.grow.items-center.rounded-br-sm(style="white-space: nowrap; background-color: #2a66bc;" class="py-1" href="https://www.linkedin.com/in/matthew-piekenbrock-1469777a/")
        span.place-self-center.linkedin_logo.bg-no-repeat.bg-center.h-4.w-4.mx-auto
  .flex.flex-col.justify-between.px-3.overflow-y-scroll.text-left.py-2.flex-1
    h4.font-bold.text-2xl.antialiased Matt Piekenbrock
    summary.prose-md.leading-5.inline.m-auto.
      I'm a computer scientist with broad interests in geometric and topological data analysis, unsupervised learning, algorithm design, and open source software development.
      <br/><br/>
      I'm currently a graduate student at NEU's Khoury College of Computer Sciences, advised by Jose Perea. 
      <br/><br/>
      A more traditional paper CV is #[a(href="/resources/cv_7.pdf" class="cursor-pointer underline" style='color: #0000EE;') available here]