script(src="/js/jquery-3.2.1.min.js")
//- script(href=filters.url("/js/katex.min.js"))  // Not mandatory?
script(src="/js/gumshoe.polyfills.min.js")
script(src="https://cdn.bokeh.org/bokeh/release/bokeh-3.2.0.min.js")
script.
  $(document).ready(function() {
    // Toggle close accordions with data indices
    //- var project_cards = $('#projects').find('.card')
    var cards = $(document).find('.cursor-context-menu')
    $(cards).on('click', function() {
      console.log(this)
      //- console.log("Clicked project card " + $(this))
      $(this).parent().find(".accordion-header").toggleClass("active")
      //- $(this).find(".accordion-header").toggleClass("active")
      $(this).parent().find(".text-ellipsis").toggleClass("hidden");
      $(this).parent().find(".accordion-body").toggleClass("hidden")
      $(this).parent().find('svg').toggleClass("hidden"); //- down / up arrow
    });
  })