footer.fixed.text-center.bottom-0.bg-gray-100.border.w-full
  span &copy; Copyright Matt Piekenbrock 2023. 
  | Proudly powered by 
  a(href='https://www.11ty.dev/') Eleventy
  |&nbsp;and 
  a(href='https://quarto.org/') Quarto
  |.