footer.sticky.bottom-0.mt-auto.w-full.text-center.bg-gray-100.border.footer.prose.prose-sm(class="top-[100vh]")
	span &copy; Matt Piekenbrock 2024. 
	| Proudly built with 
	a(href='https://www.11ty.dev/') 11ty
	|&nbsp;+ 
	a(href='https://quarto.org/') Quarto
	|.