footer.footer.text-center.bottom-0.bg-gray-100.border.w-full.sticky.mt-auto(class="top-[100vh]")
  span &copy; Matt Piekenbrock 2023. 
  | Powered by 
  a(href='https://www.11ty.dev/') Eleventy
  |&nbsp;and 
  a(href='https://quarto.org/') Quarto
  |.