ol.relative.ml-3.border-l(class="border-"+tagcolor+"-400")
	each item, index in [...collections[tagname]].reverse()
		//- - console.log(filters.readHTML(item.data.page.outputPath))
		li.flex-start.flex.items-center.pt-1.mx-auto
			.absolute.w-4.h-4.rounded-full.border.border-white(class='-left-2 bg-'+tagcolor+'-400') 
			.ml-3.w-full
				//- The card itself 
				!= filters.readHTML(item.data.page.outputPath) 
//- For unknown reasons this is the only variable could find with template content 
//- div!= item.template._cacheFinalContent

