.summary-text {

}
.card-img-left { height: 100%; }
.card-horizontal { flex-direction: row; }

#viewport-detector {position:fixed;top:80px;left:0;padding:5px 10px;background:#FFF;background:rgba(255, 255, 255, 0.85);}
#viewport-detector span {display:block;padding:2px 0 2px 30px;font:400 12px/1.625 "Helvetica Neue", Helvetica, Arial, sans-serif;}
#viewport-detector .dimensions {background:url(img/icon-1.png) no-repeat left center;}
#viewport-detector .retina {background:url(img/icon-2.png) no-repeat left center;}
#viewport-detector .pixel-ratio {background:url(img/icon-3.png) no-repeat left center;}