.card.flex.shadow-md.rounded-lg.p-4.mb-4
  if repo.icon
    img(src=repo.icon, alt='Repo Icon', class='w-8 h-8 rounded-full')

  .info.ml-4
    h2.text-lg.font-semibold.mb-2= repo.name
    p.text-gray-600.mb-2= repo.description

    if repo.stars
      p.text-gray-500.flex.items-center.mb-2
        svg(class='w-4 h-4 mr-1', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 20 20', fill='currentColor')
          path(d='M10 0a10 10 0 1 0 10 10A10 10 0 0 0 10 0zm0 18a8 8 0 0 1-5.8-13.64A6 6 0 0 1 10 16a6 6 0 0 1 5.8-4.64A8 8 0 0 1 10 18z')
        span= starsCount
    
    if repo.badges
      img(src='badge.svg', alt='Build Status', class='w-16 h-4')